spring:
  application:
    name: organization-service
  cloud:
    config:
      enabled: true
  config:
    import: optional:configserver:${CONFIG_SERVER:http://localhost:8088/}

info:
  app:
    name: "@project.name@"
    description: "@project.description@"
    version: "@project.version@"
    encoding: "@project.build.sourceEncoding@"
    java:
      version: "@java.version@"
